registry=https://registry.npmmirror.com

# sass_binary_site=https://npmmirror.com/mirrors/node-sass
# SQLITE3_BINARY_SITE=http://npm.taobao.org/mirrors/sqlite3
# puppeteer-download-host=https://cdn.npmmirror.com/binaries
# puppeteer-download-base-url=https://cdn.npmmirror.com/binaries/chrome-for-testing
# chromedriver_cdnurl=http://cdn.npm.taobao.org/dist/chromedriver
# sharp_binary_host=https://npmmirror.com/mirrors/sharp
# sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips